.h-submenu li a:hover {color:#bda87f;
}
.grey-button:hover {background: #bda87f none repeat scroll 0 0; border-color: #bda87f;}
.main-menu > nav > ul > li > ul > li a:hover {color: #bda87f;}
.mean-container .mean-nav ul li a:hover {color: #bda87f;}
.mean-container .mean-nav ul li a.mean-expand:hover {background: #bda87f none repeat scroll 0 0;}
.banner-btn:hover, .banner-btn:focus, .banner-btn:active {
    background: #bda87f none repeat scroll 0 0;
}
.product-hover > button:hover, .product-hover a:hover {color: #bda87f;}
.product-rating i.color {color: #bda87f}
.product-text > h4 a:hover {color: #bda87f}
.product-item > span.hot-sale {background: #bda87f}
.blog-text h5 a:hover {color: #bda87f;}
.blog-text > a {color: #bda87f; }
.footer-widget-list > li a:hover {color: #bda87f;}
.social-link > a:hover {color: #bda87f}
.header-two-area .cart-info > span:last-child {
    background: #bda87f none repeat scroll 0 0;
}
.header-settings> ul > li:hover > a {color: #bda87f}
.header-three-area .main-menu > nav > ul > li:hover > a, .header-three-area .main-menu > nav > ul > li.active > a, .header-four-area .main-menu > nav > ul > li:hover > a, .header-four-area .main-menu > nav > ul > li.active > a {
    color: #bda87f;
}
.product-tab-list a.active {color: #bda87f;}
.breadcrumb-item.active {color: #bda87f;}
.breadcrumb-item a:hover {color: #bda87f;}
.widget-option a {
    color: #bda87f;
}
.single-widget-opt > label:hover {color: #bda87f;}
.ht-product-tab a.active {color: #bda87f;}
#list .product-text > a:hover {color: #bda87f;}
.single-product-thumbnail .p-thumb.slick-current {border-color: #bda87f;}
.p-rating-review > a:hover {color: #bda87f;}
.qty-cart-add > a {
    background: #bda87f none repeat scroll 0 0;
}
.p-d-buttons > a:hover {background: #bda87f none repeat scroll 0 0;}
.p-name > a:hover {color: #bda87f}
.all-cart-buttons button:hover, .buttons-set .button:hover, .amount-totals .button:hover {background: #bda87f}
.all-cart-buttons button:last-child, .all-cart-buttons button:nth-child(2) {float: right; margin-left: 5px;}
.all-cart-buttons .button:hover, .buttons-set .button:hover, .amount-totals .button:hover {
    background: #bda87f none repeat scroll 0 0;
}
.checkout-progress .check > li a:hover {color: #bda87f}
.checkout-area p.back-link a:hover{color: #bda87f}
.forgot-pass:hover {color: #bda87f; border-color: #bda87f}
.checkout-buttons a:hover {color: #bda87f;}
.wishlist-table table .product-remove > a:hover {color: #bda87f;}
.wishlist-table table .product-add-to-cart > a:hover {background: #bda87f none repeat scroll 0 0;}
.product-name > a:hover {color: #bda87f;}
.form-action p.lost_password:hover {color: #bda87f}
.form-action > button:hover {background: #bda87f none repeat scroll 0 0;}
.team-links > a:hover {
    color: #bda87f;
}
.single-contact-adrs:hover .c-address-icon {
	background: #bda87f none repeat scroll 0 0;
}
.blog-links > a:hover {	
	color: #bda87f;
}
.comment-information > a:hover, .comment-information a:hover {color: #bda87f;}
.search-box > button:hover {
	background: #bda87f none repeat scroll 0 0;
}
.single-widget a:hover, .single-widget a:hover i, .single-widget a:hover span {
	color: #bda87f;
}
.single-widget .tags li a:hover {
    background: #bda87f none repeat scroll 0 0;
    border-color: #bda87f;
}
.product-rating .spr-starrating i {
  color: #bda87f;
}
.h-submenu li a:hover {
    color: #bda87f!important;
}
.action--wishlist.is-active .icon-Heart.Heart-2 {
   color:#bda87f;
}
.breadcrumb-list > li {
    color: #bda87f!important;
}
a.change-view.change-view--active {
    color: #bda87f;
}
.single-widget-opt > ul > li > a:hover {
  color: #bda87f;
}
.widget-color ul li.active a {
    border: 2px solid #bda87f;
}
.widget-color ul li a:hover {
    border: 2px solid #bda87f;
}
.widget-option > a {
    color: #bda87f;
}
.sidebar-widget ul.tag li a {
    border: 1px solid #bda87f;
}
.sidebar-widget ul.tag li a:hover,.section-title > a:hover {
    color: #bda87f;
}
#list .product-item > span.hot-sale {
    background: #bda87f;
}
.qty-cart-add > button {
    background: #bda87f none repeat scroll 0 0;
}
.swatch-element input:checked + label {
    color: #bda87f!important;
}
i.spr-icon.spr-icon-star {
    color: #bda87f!important;
}
.error-content a {
    color: #bda87f;
}
.blog-side-menu ul li a:hover,ul.blog_links li a:hover,.blog-tag ul li a:hover{
   color:#bda87f;
}
.shipping-info button:hover{
  background: #bda87f none repeat scroll 0 0;
}
.login-toggle-btn button.section-button:hover{
  background: #bda87f none repeat scroll 0 0;
}
.login-toggle-btn a:hover,.create-account-btn a:hover{
   color: #bda87f;
}
.create-account-btn a{
  color: #bda87f;
}
.quickview-plus-minus .quickview-btn-cart button:hover{
   background:#bda87f;
}
.single-widget-opt ul li.active a,.single-widget-opt > ul > li.active > a > span,.sidebar-widget ul.tag li.active a{
    color: #bda87f;
}